:root {
  --fuentePrimaria: "Lato", sans-serif;
  --fuenteSubtitulos: "Lora", serif;
  --fuenteTextos: "Hind Madurai", sans-serif;

  /* --background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 52%,
    rgba(255, 255, 255, 0.4) 90%
  ); */

  --background: conic-gradient(
    from 0deg at -8% 107% in oklab,
    rgba(255, 255, 255, 0.5) 0%,
    2%,
    rgba(29, 98, 144, 0.5) 0% 0%,
    8%,
    rgba(255, 255, 255, 0.5) 0% 0%,
    13%,
    rgba(29, 98, 144, 0.5) 0% 0%,
    18%,
    rgba(255, 255, 255, 0.5) 0% 0%,
    21%,
    rgba(29, 98, 144, 0.5) 0% 0%,
    24%,
    rgba(255, 255, 255, 0.5) 0% 0%
  );

  --textos: #1d6290;
  /* --textos: #101c2d; */
  --botones: #a8a9ab;
}

body {
  font-family: var(--fuenteTextos);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  padding: 4rem 0;
}

.title {
  font-size: 3rem;
  color: var(--textos);
  font-weight: 600;
  text-align: center;
}

.header {
  width: 100%;
  height: 100px;
  /* max-width: 1200px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fuenteSubtitulos);
  padding: 3rem;
  position: relative;
  margin: 0 auto;

  z-index: 10;
  box-shadow: #000000 0px 25px 20px -20px;
}

.header .container {
  padding: 0;
}

.header__logo {
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--textos);
}

.header__logo--div {
  font-size: 2rem;
  font-weight: 600;
  color: var(--textos);
}

.header__nav {
  height: 50px;

  color: var(--textos);
  flex: 2;
}

.header__ul--nav {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
}

.header__li--nav {
  margin-right: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.header__a--nav {
  padding: 5px 15px;
  transition: all 0.1s ease;
  color: var(--textos);
}

.header__a--nav:hover {
  border-bottom: 3px solid var(--textos);
}

.header__carrito {
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  padding: 10px;
  font-size: 1.3rem;
  color: var(--textos);
}

.header__icon:hover {
  border: 1px solid --textos;
}

.hero .container {
  padding: 0;
}

.hero {
  height: calc(70vh - 100px);
  background: var(--background), url(../media/hero.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.hero__wave {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero__texts {
  width: 80%;
  max-width: 1200px;
  margin-top: 80px;
  text-align: center;
}

.hero__h1 {
  font-family: var(--fuenteSubtitulos);
  font-size: 5rem;
  font-weight: 700;
  color: #f2f2f2;
  animation-name: bounce-in-top-h1;
  transition: animation 0.2s;

  padding: 1rem;
}

.hero__button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  color: #f2f2f2;
  font-size: 1.8rem;
  font-family: var(--fuentePrimaria);
  font-weight: 600;
  background-color: var(--textos);
  border-radius: 10px;
  cursor: pointer;
  animation-name: heartbeat;
  transition: animation 5s;

  transition: all 0.4s ease;
}

.hero__button:hover {
  background-color: #133e5a;
  box-shadow: 0px 0px 6px 1px rgba(242, 242, 242, 0.5) inset;
  color: #f2f2f2;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-16 20:10:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.products .container {
  padding: 0;
}

.products {
  min-height: 40vh;
  text-align: center;
  padding: 0;
}

.products .title {
  margin: 15px 0;
}

.products__flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  /* background-color: aqua; */
}

.products__item {
  width: calc(30% - 1rem);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: beige; */
  padding: 1rem;
}

.products__img--item {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  background-color: red;
  display: inline-block;
}

.products__name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--textos);
}
.products__text {
  font-size: 1.1rem;
  font-family: var(--fuenteTextos);
}

.about {
  width: 100%;
}

.about__flex {
  width: 100%;
  /* height: 30vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.about__text {
  text-align: center;

  flex: 1;
}

.about__marcas {
  min-height: 200px;
  flex: 2;
  background-color: #1d6290;
}

.sanitarios {
  width: 100%;
  height: 50vh;
  background-image: url(../media/sanitarios.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.sanitarios__title {
  color: #f2f2f2;
  font-family: var(--fuenteSubtitulos);
  font-size: 4rem;
  margin-bottom: 20px;
}

.tienda {
  width: 100%;
  min-height: 80vh;
  /* background-color: beige; */
}

.tienda__text {
  text-align: center;
  font-size: 1.2rem;
}

.tienda .tienda__p {
  text-align: center;
  font-size: 5rem;
}

.form__flex {
  margin: 0 auto;
  width: 80%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  /* background-color: #a8a9ab; */
}

.form__div--input {
  width: 80%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: beige; */
}

.form__contact label {
  min-width: 80px;
  color: var(--textos);
  display: inline-block;
  font-size: 1.3rem;
}

.form__contact input {
  width: 100%;
  border-bottom: 2px solid var(--textos);
  display: inline-block;
  color: var(--textos);
  font-family: var(--fuentePrimaria);
  font-size: 1.2rem;
  outline: none;
  padding: 10px;
  /* background-color: aqua; */
}

.form__contact textarea {
  width: 100%;
  border: 2px solid var(--textos);
  resize: none;
  color: var(--textos);
  font-size: 1.2rem;
  outline: none;
  padding: 5px;
  min-height: 200px;
  max-height: 200px;
}

.form__contact textarea::placeholder {
  color: var(--textos);
  font-size: 1.2rem;
}

.form__submit {
  margin: 10px 0;
  padding: 10px 30px;
  background-color: var(--textos);
  color: #f2f2f2;
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: var(--fuenteSubtitulos);
}

.footer {
  width: 100%;
  height: 30vh;
  position: relative;
}

.footer__flex {
  height: 100%;
  background-color: #1d6290;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #f2f2f2;
}

.footer__textos {
  margin-top: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2rem;
}

.footer__text {
  font-size: 1.3rem;
}

.footer__redes {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.footer__icon {
  font-size: 2.3rem;
  padding: 0 20px;
}

.footer__wave {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  .hero__texts {
    width: 100%;
    margin-top: 40px;
  }

  .about__flex {
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
  }

  .form__flex {
    width: 100%;
  }

  .footer__flex {
    flex-direction: column;
    min-height: 50vh;
  }

  .footer__redes {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .header {
    min-height: 150px;
    flex-direction: column;
  }

  .hero__texts {
    width: 100%;
    margin-top: 40px;
  }

  .hero__h1 {
    font-size: 3rem;
  }

  .hero__button {
    padding: 10px 30px;
    color: #f2f2f2;
    font-size: 1.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .products__flex {
    flex-wrap: wrap;
  }

  .products__item {
    width: 40%;
  }

  .sanitarios {
    text-align: center;
  }

  .sanitarios__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .hero__texts {
    width: 80%;
  }

  .products__item {
    width: 90%;
    min-height: 350px;
  }

  .footer {
    min-height: 50vh;
  }
  .footer__textos {
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    gap: 1rem;
  }
  .footer__item {
    text-align: center;
    margin: 0;
  }
}
